PORT=3001
FRONTEND_URL=http://localhost:5173

DB_HOST=localhost
DB_PORT=5432
DB_USERNAME=postgres
DB_PASSWORD=0701
DB_NAME=airline_ops_db
DB_SYNCHRONIZE=false
DB_LOGGING=false


# Politique de scheduling de démonstration à adapter à votre opérateur
MIN_TURNAROUND_MINUTES=45
POSITIONING_BUFFER_MINUTES=180
MIN_CREW_REST_HOURS=10
MAINTENANCE_WARNING_HOURS=10
